
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}

/**/

body{
    background-color: #333;
}
.centrarPagina{

}

.centrarPagina{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.centrarPagina > *{
    width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--colorFondo);
}

.fuenteTitulo {
    font-size: 2.5em;
    color: var(--colorSecundarioTitulo);
    margin-bottom: 20px;
}
.fuenteParrafo{
    font-size: 1.2em;
    color: var(--colorSecundarioParrafo);
    margin-bottom: 20px;
}