

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    gap: 2rem;
    background:var(--colorNeutro5);
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--colorBorde);
    box-shadow: var(--boxShadow);
}

.inicio h1{
    color: var(--colorSecundarioTitulo);
    text-decoration: double underline;
}

/*Aqui el JS inserta de forma dinamica el background-image segun la sala en la que estamos*/
.fondoSala {
    height: 65vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--boxShadow);
    background-color: var(--colorNeutro5);
    position: relative;
    /* Flex para posicionar al héroe: izquierda + centrado vertical */
    display: flex;
    align-items: center;
    /*Aqui separamos el héroe y el enemigo*/
    justify-content: space-between;
}


.tituloSala{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--transparencia);
}
.heroe{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    max-width: 200px;

}
.enemigo{
     display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 20px;
    max-width: 200px;

}
.atributos{
    display: flex;
    width:100%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0 0 15px;
    gap: 5px;
    background-color: var(--colorNeutro6);
    border: 1px solid var(--colorBorde);
    box-shadow: var(--boxShadow);
}
.tituloNombre{
    color: var(--colorSecundarioTitulo);
    text-decoration: underline double;
}
.heroe img, .enemigo img{
    width: 200px;
    box-shadow: var(--boxShadow);
    border: 1px solid var(--colorBorde);
}

.heroePasillo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 9rem;
}
