

:root{
    /*Colores*/
        /*Rojos*/
        --colorPrimario: #da3636;
        --colorPrimarioOscuro: #a82828;

        --colorPrimarioHover: rgb(146, 3, 3);
        --colorPrimarioMuyOscuro: #781f1f;

        --colorSecundario: rgb(255, 126, 51);
        --colorSecundarioTitulo: #ff8c42;
        --colorSecundarioParrafo: #ff8c42;

        --colorTerciario: yellowgreen;
        --colorTerciarioHover: rgb(154, 255, 0);
        --colorTerciarioOscuro: rgb(1, 70, 1);

        --colorTerciarioTrasparencia: rgba(10, 148, 10, 0.63);

        --colorCuartenario: rgb(0, 0, 163);
        --colorCuartenarioClaro: rgb(88, 88, 223);
        --colorCuartenarioHover: rgb(0, 0, 255);

        --colorBorde: #045caf;
        --colorHeroePrimario: #1f4e78;

        
        --colorNeutro1: #fff;
        --colorNeutro2: #000;
        --colorNeutro3: #ccc;
        --colorNeutro4: #eee;
        --colorNeutro5: #222;
        --colorNeutro6: #2e2e2e;
        --boxShadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

        --transparencia: rgba(0, 0, 0, 0.5);

        
        



    /*Fuente*/
    --fuenteTitulo: '"Cinzel", serif;'
    --fuenteParrafo: '"EB Garamond", serif;'


    /*Tamaños*/

}