<template>
    <main class="contenedor centrarPagina" id="">
        <!-- La clase sala representa la sala principal y se encarda de cargar el fondo de la sala-->
        <div class="tituloSala ">
            <h1 class="fuenteTitulo" id="nombreSala"></h1>
            <p class="fuenteParrafo" id="descripcionSala"></p>
        </div>
        <section class="fondoSala fondoSalaEntrada salaEntrada">
            <section class="heroe">
                <picture>
                    <source srcset="../img/heroe.png" type="image/png">
                    <img src="../img/heroe.png" alt="Imagen-del-heroe" class="imagenHeroe">
                </picture>
            </section>

        </section>
        <section id="contenedor-consola"></section>
    </main>
</template>